DATABASE_URL=postgresql+asyncpg://bot_user:strong_password@postgres:5432/bot_db
BOT_TOKEN=your_bot_token_here
RABBITMQ_URL=amqp://rabbitmq:rabbitmq@rabbitmq:5672/
SCRAPPER_API_URL=http://scrapper:5000

ENABLE_BOT=true
ENABLE_SCHEDULER=true
