DATABASE_URL=postgresql+asyncpg://scrapper_user:strong_password@postgres:5432/scrapper_db
RABBITMQ_URL=amqp://rabbitmq:rabbitmq@rabbitmq:5672/

ENABLE_API=true
ENABLE_EVENT_CONSUMER=true
ENABLE_SCRAPPER_LOOP=true
