DATABASE_URL=postgresql+psycopg2://scrapper_user:strong_password@postgres:5432/scrapper_db
RABBITMQ_URL=amqp://rabbitmq:rabbitmq@rabbitmq:5672/

PROXY_SERVER=http://91.124.68.118:59100
PROXY_USERNAME=tandrew69
PROXY_PASSWORD=HudwkoS9Ed

ENABLE_API=true
ENABLE_EVENT_CONSUMER=true
ENABLE_SCRAPPER_LOOP=true
